<footer>
    <div class="f-info">
         <div class="f-info-socials">
            <i class="socials ri-facebook-box-fill"></i>
            <i class="socials ri-twitter-line"></i>
            <i class="socials ri-instagram-fill"></i>
         </div>
         <div class="brand-name"> &copy; Lodgr Private Limited</div>
         <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
         </div>
    </div>
</footer>